swarm_exploration/utils/lkh_mtsp_solver/resource/*.atsp
swarm_exploration/utils/lkh_mtsp_solver/resource/*.par
swarm_exploration/utils/lkh_mtsp_solver/resource/*.tour
build/
devel/
install/
log/
logs/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
.vscode/
.idea/
original/
